[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
  url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://tpope.io/vim/surround.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = git://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/vim-latex-live-preview"]
	path = bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
  url = https://github.com/lervag/vimtex.git
